body {
  font-family: $text-font;
  color: $text-color;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.143;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
}
