@mixin title() {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: $title-color;
}

@mixin paddings-t-b($size) {
  padding-top: $size;
  padding-bottom: $size;
}

@mixin paddings-r-l($size-r-l) {
  padding-right: $size-r-l;
  padding-left: $size-r-l;
}
